/* 전체 레이아웃 */
.mycasezzim-container {
    display: flex;
    flex-direction: column;
    /* 세로로 정렬 */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* 사이드 메뉴 */
.mycasezzim-sidebar-box {

    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--bg-subtle);


}

.mycasezzim-sidebar {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: center;

}

.mycasezzim-sidebar li {
    font-size: 0.8rem;
    font-weight: bold;
}

.mycasezzim-sidebar li a {
    color: black;
    text-decoration: none;
}



/* 본문 제목 */
.mycasezzim-title {
    padding-top: 1rem;
    
}

.mycasezzim-subtitle h4 {
    
    padding: 1rem 0 1rem 0;
}

.mycasezzim-subtitlebox {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  border-bottom: 0.1rem solid var(--bg-subtle);
}



.mycasezzim-main {
    display: flex;
    padding-top: 1rem;
    width: 100%;

}
/* 본문 내용 */
.mycasezzim-main-body {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}   

/* 별점 / 하트 */
.recent-card {
  display: flex;
  flex-direction: column;
  text-align: right;
}



.recent-card img {
  width: 150px;
  height: 180px;
  display: block;
}


.heart{
    
    display: flex;
    margin-right: 4.5rem;
    margin-bottom: 3rem;
}


.star-rating {
 
  display: flex;
  margin-top: 0.1rem;
  font-size: 0.9rem;
  justify-content: flex-end;
  
  
  
}

.star {
  color: tomato;
}

.score {
  margin-left: 0.1rem;
  color: #555;
  font-size: 0.9rem;
}



@media (min-width: 1024px) {
   .mycasezzim-container {
    
    margin-top: 3rem;
    flex-direction: row;
    display: flex;
}

/* 사이드 메뉴 */
.mycasezzim-sidebar-box {
    width: 12rem;
    border-bottom: none;
}

.mycasezzim-sidebar {
    padding-left: 2rem;
    flex-direction: column;
    gap: 2rem;
    
}

.mycasezzim-sidebar li {
    
    font-size: 0.8rem;
    font-weight: bold;
    
}

.mycasezzim-sidebar li a {
    color: var(--basic6-dark);
    text-decoration: none;
    
   
}

.mycasezzim-divider {
    width: 1px;
    background-color: var(--bg-subtle);
    height: auto;
    /* 기본은 콘텐츠 높이에 맞춤 */
    margin: 0 0 1rem 0;
}



.mycasezzim-main {
    display: flex;
 
    justify-content: flex-start;


}

.mycasezzim-main-body {
 
    gap: 3rem; 
  
}   


.mycasezzim-content {
    flex: 1;
    min-width: 0;
    
}

.mycasezzim-title {
    margin-left: 1rem;
    
}




.recent-card {
  display: flex;
  flex-direction: column;
}

.recent-card img {
  width: 150px;
  height: 180px;
  display: block;
}

.heart{
    
 
    margin-right: 4rem;
    
}


.star-rating {
  display: flex;
  margin-top: 0.1rem;
  font-size: 1rem;

}

.star {
  color: tomato;
}

.score {
  margin-left: 0.3rem;
  color: #555;
  font-size: 0.95rem;
}




}