/* 전체 레이아웃 */
.myPurchase-container {
    display: flex;
    flex-direction: column;
    /* 세로로 정렬 */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* 사이드 메뉴 */
.myPurchase-sidebar-box {

    width: 100%;

    margin: 0 auto;
    border-bottom: 1px solid var(--bg-subtle);


}

.myPurchase-sidebar {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: center;

}

.myPurchase-sidebar li {
    font-size: 0.8rem;
    font-weight: bold;
}

.myPurchase-sidebar li a {
    color: black;
    text-decoration: none;
}


.myPurchase-content {
    flex: 1;
    display: flex;
    min-width: 0;
}

/* 본문 제목 */
.myPurchase-title {
    padding-top: 1rem;

}

.myPurchase-subtitle h4 {

    border-bottom: 0.1rem solid var(--bg-subtle);
    padding: 1rem 0 1rem 0;

}



.myPurchase-main {
    display: flex;

    width: 100%;


}

/* 본문 내용 */
.myPurchase-main-box {
    width: auto;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
}


.myPurchase-table th {
    width: 60vw;
    height: 5vh;
    background-color: #2E3E5A;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 11px;
}

.title-col a , .title2-col a {
    color: white;
}


.cash-list {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 1rem;
   
    line-height: 3;

}
.Charging-history {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  list-style: none;
  
}

.Charging-history li {
  text-align: center;
}

.Usage-history {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  padding-right: 1rem;
  list-style: none;
  
}

.Usage-history li {
  text-align: center;
}



/* 페이지네이션 */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination ul {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.pagination li a {
  display: block;
  padding: 0.3rem 1rem;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
  color: var(--primary-blue1, #003399);
  transition: all 0.2s ease-in-out;
}

.pagination li a:hover {
  background-color: var(--primary-blue1, #003399);
  color: white;
}

.pagination .active a {
  background-color: var(--primary-blue1, #003399);
  color: white;
  font-weight: bold;
  border-color: var(--primary-blue1);
}

.pagination li.active a {
  background-color: var(--primary-blue1);
  color: white;
  border-radius: 50%;
  font-weight: bold;
}


@media (min-width: 1024px) {
    .myPurchase-container {
        margin-top: 3rem;
        flex-direction: row;
        display: flex;
    }

    /* 사이드 메뉴 */
    .myPurchase-sidebar-box {
        width: 12rem;
        border-bottom: none;
    }

    .myPurchase-sidebar {
        padding-left: 2rem;
        flex-direction: column;
    }

    .myPurchase-sidebar li {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .myPurchase-sidebar li a {
        color: black;
        text-decoration: none;

    }

    .myPurchase-divider {
        width: 1px;
        background-color: var(--bg-subtle);
        height: auto;
        /* 기본은 콘텐츠 높이에 맞춤 */
        margin: 0 0 1rem 0;
    }



    .myPurchase-content {
        width: 100%;
    }



    .myPurchase-title {
        margin-left: 1rem;

    }

    .myPurchase-main {
        display: flex;
        padding-top: 1rem;
        width: 100%;
    }


    .myPurchase-main-box {
        width: auto;
        display: flex;
    }

    .myPurchase-table {
        width: 100%;
        padding: 0 1rem;
    }

    .myPurchase-table table {
        font-size: 0.9rem;
    }


    .cash-list {
        padding-left: 1.5rem;
        line-height: 3;

    }




}