footer {
  background-color: var(--white); /* 메인 블루 계열 컬러로 */
  color: var(--primary-blue1);
  font-size: 14px;
}

.main-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--bg-subtle);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-a a {
  color: var(--primary-blue1);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.footer-links a:hover {
  color: var(--primary-blue1);
  transform: translateY(-2px);
  font-weight: 800;
}

.footer-copy {
  font-size: 13px;
  opacity: 0.8;
}

/* TODO: 태블릿 */
@media screen and (min-width: 768px) {

  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-links {
    order: 1;
  }

  .footer-links{
    display: flex;
    flex-direction: column;

  }

  .footer-copy {
    order: 2;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
  }
}

