/* 전체 배경과 기본 폰트 */
.signup-body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.signup-logo {
	width: 150px;
	margin-bottom: 20px;
}

.signup-logo img {
	width: 100%;
}

/* 폼 컨테이너 */
.signup-container {
	background-color: #F8F9FA;
	padding: 40px 30px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

/* 제목 */
.signup-container h2 {
	text-align: center;
	margin-bottom: 24px;
	color: #333;
}

/* 입력 필드 */
#userName, .signup-container input[type="email"], .signup-container input[type="password"]
	{
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}

.id-box {
	width: 100%;
	 display: flex;           /* 플렉스 박스 적용 */
  align-items: center;     /* 수직 중앙 정렬 */
}

#userId {
	flex-grow: 1;             /* 남는 공간 다 차지하게 함 */
	
	padding: 12px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}

#checkIdBtn {
	
	width:15%;
	padding: 12px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 12px;
	cursor: pointer;
	margin: 10px 0;
	margin-left: 10px;         /* 입력창과 간격 띄우기 */
	transition: background-color 0.3s ease;
	text-align: center;
	
}
#idCheckMessage{
	margin-left:10px;
}
.error{
	margin-left:10px;
}

/* 가입 버튼 */
.signup-container button {
	width: 93%;
	padding: 14px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 12px;
	transition: background-color 0.3s ease;
	text-align: center;
}

.signup-container button:hover {
	background-color: #0056b3;
}

/* 로그인 링크 */
.login-link {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

.login-link a {
	color: #007bff;
	text-decoration: none;
}

.login-link a:hover {
	text-decoration: underline;
}

.options {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: #212529;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
}

/* TODO: pc */
@media screen and (min-width: 1024px) {
	.page {
		width: 60vw;
	}
}