/* 세컨 헤더 */

.simple-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-logo img {
  width: 150px;
  max-height: 2.5rem;
  object-fit: contain;
}

.auth-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 2rem; /* or 버튼 높이에 맞춰 설정 */
    align-items: center;
    justify-content: center;  
}

.auth-area .logout {
  display: none;
}

.a-rounded-al {
  font-size: 1rem;
  color: var(--primary-blue1);
  font-weight: 600;
  padding: 6px 14px;
  
      
}

a.a-rounded-al:hover {
  background-color: var(--primary-blue1);
  color: var(--white);
  padding: 6px 14px;
  border-radius: 999px;
  border: 1px solid var(--primary-blue1);
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px){
  .logo img {
  max-height: 3.8rem;
  object-fit: contain;
}

  .auth-area .logout {
    display: flex;
}

}