.freewrite-page {
  margin: 0 auto;
  padding: 1rem;
}

.write-category-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.write-category-select select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.write-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.write-title {
  padding: 0.8rem;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.write-content {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  resize: vertical;
}

.file-upload label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.write-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-rounded {
  background-color: var(--primary-blue2);
  color: var(--white);
  border-radius: 999px;
  padding: 6px 14px;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.btn-rounded:hover {
  background-color: var(--primary-blue1);
  transition: all 0.2s ease-in-out;
  transform: translateY(-1px);
}

.btn-rounded.cancel {
  background-color: var(--secondary-light)
}

@media screen and (min-width: 768px) {
  .freewrite-page {
    width: 90%;}
}